<mat-toolbar class="bgHeader">
    <ul>
        <a *ngIf="auth.loggedIn()" routerLink="listTasks">My tasks</a>
    </ul>
    <ul>
        <a *ngIf="auth.loggedIn()" routerLink="saveTask">New Task</a>
    </ul>
    <ul>
        <a *ngIf="auth.loggedIn()" routerLink="listUsers">Admin</a>
    </ul>
    <span class="header-spacer"></span>
    <ul>
        <a *ngIf="!auth.loggedIn()" mat-button routerLink="register">Sign In</a>
        <a *ngIf="!auth.loggedIn()" mat-button routerLink="login">Log In</a>
        <a *ngIf="auth.loggedIn()" mat-button (click)="auth.logout()">Log Out</a>
    </ul>
</mat-toolbar>